<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Office Detail</title>
</head>
<body>
<h1>UWU</h1>
<hr>
<div class="container p4 m4">
  <b>Office Code: <label th:text="${office.officeCode}"></label></b><br>
  <b>Office City: <label th:text="${office.city}"></label></b><br>
  <b>Office Address: <label th:text="${office.addressLine1}"></label></b> <br>
  <b>Office Phone: <label th:text="${office.phone}"></label></b><br>
</div>
<a href="/"><button>HOME</button></a>

</body>
</html>